<div class="form-container">
    <h3>על מה הסתמכת במיוחד בשיפוט הדמיון בין הקטעים</h3>
    <h4>(בחר אופציה אחת)</h4>
    <mat-form-field dir="rtl">
        <mat-select placeholder="אנא בחרו" [(ngModel)]="answer">
            <mat-option value="Melody">מלודיה</mat-option>
            <mat-option value="Rhythm">מקצב</mat-option>
            <mat-option value="Harmony">הרמוניה</mat-option>
            <mat-option value="Volume">עוצמה</mat-option>
            <mat-option value="Color">צבע</mat-option>
            <mat-option value="Character">אופי כולל</mat-option>
            <mat-option value="Other">(היבט אחר (אנא פרטו</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field dir="rtl">
        <textarea  [(ngModel)]="comments" matInput placeholder="הערות נוספות"></textarea>
    </mat-form-field>
    <br/>
    <p>.(מהי מידת ההיכרות שלך עם הקטעים ששמעת בניסוי? (0 - בכלל  לא; 7 - מכיר היטב</p>
    <mat-radio-group layout="row" [(ngModel)]="familiarity" dir="rtl">
        <mat-radio-button 
            *ngFor="let freq of [0, 1, 2, 3, 4, 5, 6, 7]"
            [value]="freq" 
            style="padding-left: 17px; padding-bottom: 10px;">
            {{freq}}
        </mat-radio-button>
    </mat-radio-group>
    <br>    
    <button  mat-raised-button color="primary" (click)=send()>
        המשיכו לשלב הבא    
    </button>
</div>