<div class="form-container">
    <h3>על מה הסתמכת במיוחד בשיפוט הדמיון בין הקטעים</h3>
    <h4>(בחר אופציה אחת)</h4>
    <mat-form-field dir="rtl">
        <mat-select placeholder="אנא בחרו" [(ngModel)]="answer">
            <mat-option value="Melody">מלודיה</mat-option>
            <mat-option value="Rhythm">מקצב</mat-option>
            <mat-option value="Harmony">הרמוניה</mat-option>
            <mat-option value="Volume">עוצמה</mat-option>
            <mat-option value="Color">צבע</mat-option>
            <mat-option value="Character">אופי כולל</mat-option>
            <mat-option value="Other">(היבט אחר (אנא פרטו</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field dir="rtl">
        <textarea  [(ngModel)]="comments" matInput placeholder="הערות נוספות"></textarea>
    </mat-form-field>
    <br/>
    <button  mat-raised-button color="primary" (click)=send()>
        המשיכו לשלב הבא    
    </button>
</div>