<p style="font-size: larger;">
    .הניסוי שלפניכם עוסק במידת הדמיון בין קטעים מוזיקליים
    <br/>
    .כל הקטעים לקוחים מיצירות לפסנתר מהתקופה הקלאסית והרומנטית
    <br/><br/>
    .
    בכל צעד, יושמע לכם קטע אחד
    <b>להאזנה בלבד</b>
    <br/>
    .לאחר שתאזינו לקטע הראשון, יופיעו על המסך שני קטעים נוספים להאזנה
    <br/>
    .לאחר שתאזינו לשני הקטעים האלו, תתבקשו לדרג את מידת הדמיון ביניהם
    <br/><br/>
    .כשתסיימו לדרג את מידת הדמיון, תוכלו לעבור לצעד הבא
    <br/>
    .בסך הכל תתבקשו לדרג שבעה זוגות של קטעים
    <br/>
    .
    <b>שימו לב</b>
     - לא תוכלו להאזין לאותו קטע יותר מפעם אחת
    <br/><br/>
    <b>    !בהצלחה        </b>
</p>
<a routerLink="/similarity-rank" routerLinkActive="active"><h2>התחל</h2></a>