<form [formGroup]="registerForm" (ngSubmit)="register()" #regForm="ngForm">
    <div class="form-container">
        <h3>:) ...שאלון פרטים אישים קצר לפני שנתחיל</h3>
        <mat-form-field dir="rtl">
            <input matInput type="number" placeholder="גיל" formControlName="age">
        </mat-form-field>
        <br/>
        <!-- <mat-form-field dir="rtl">
            <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field> -->
        <mat-form-field dir="rtl">
            <mat-select placeholder="מין" formControlName="gender">
                <mat-option value="Male">זכר</mat-option>
                <mat-option value="Female">נקבה</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <p>.האם למדת נגינה/שירה או עיסוק מוזיקאלי אחר באופן מסודר? אם כן, במשך כמה שנים</p>
        <mat-radio-group dir="rtl" formControlName="isMusicalExp"> 
            <mat-radio-button style="padding-left: 20px;" [value]="true">כן</mat-radio-button>
            <mat-radio-button [value]="false">לא</mat-radio-button>
        </mat-radio-group>
        <mat-form-field dir="rtl">
            <input matInput type="number" placeholder="שנות לימוד מוזיקאלי" formControlName="musicalExperience">
        </mat-form-field>
        <br />
        <p>.האם למדת תיאוריה מוזיקאלית או ניתוח מוזיקאלי? אם כן, ציין במשך כמה שנים</p>
        <mat-radio-group dir="rtl" formControlName="isMusicalTheory"> 
            <mat-radio-button style="padding-left: 20px;" [value]="true">כן</mat-radio-button>
            <mat-radio-button [value]="false">לא</mat-radio-button>
        </mat-radio-group>
        <mat-form-field dir="rtl">
            <input matInput type="number" placeholder="שנות לימוד תיאוריה" formControlName="theoryExperience">
        </mat-form-field>
        <br/>
        <p>.(באיזו תכיפות אתה מאזין למוזיקה ״קלאסית״? (0 - בכלל  לא; 7 - כמעט בכל יום</p>
        <mat-radio-group layout="row" formControlName="classicalMusicFreq" dir="rtl">
            <mat-radio-button 
                *ngFor="let freq of [0, 1, 2, 3, 4, 5, 6, 7]"
                [value]="freq" 
                style="padding-left: 17px; padding-bottom: 10px;">
                {{freq}}
            </mat-radio-button>
        </mat-radio-group>
      <br/>
        <button 
            mat-raised-button color="primary" 
            style="width: 65px; align-self: center;" 
            type="submit" 
            [disabled]="isLoading || !regForm.form.valid">התחל בניסוי</button>
    </div>
  </form>